.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-submit {
  background: none;
  border: 2px solid #0b1014;
  border-radius: 5px;
  color: #0b1014;
  font-family: Oswald;
  font-weight: 400;
  font-size: 20px;
  padding: 0;
  margin-bottom: 10px;
}

.modal__form-submit:hover {
  cursor: pointer;
  opacity: 70%;
}

.modal__label {
  display: flex;
  flex-direction: column;
  color: #0b1014;
  font-family: Oswald;
  font-weight: 400;
  font-size: 20px;
  gap: 5px;
  margin-bottom: 20px;
}

.modal__label:first-of-type {
  margin-top: 20px;
}
.modal__form-input {
  color: #0b1014;
  font-size: 18px;
}
