.header {
  background-color: #dd403a;
  height: 80px;
}

.header__content {
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__logo {
  margin: 0;
  font-size: 50px;
  line-height: 55px;
  text-decoration: none;
  color: #0b1014;
}

.header__button {
  background: none;
  border: 2px solid #0b1014;
  border-radius: 5px;
  color: #0b1014;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 24px;
  padding: 1px 5px;
  text-decoration: none;
}

.header__button:hover {
  opacity: 70%;
  cursor: pointer;
}
